<!-- <p>Signin works!</p> -->

<div>
    <p *ngIf="isInvalidCred">
        Please enter valid credentials
    </p>
    <form #f="ngForm" (ngSubmit)="onSignin(f)" novalidate>
        <label>username : </label><input type="text" name="username" ngModel required/><br/>
        <label>password : </label><input type="password" name="password" ngModel required/><br/>
        <label>fullname : </label><input type="text" name="fullname" ngModel required/><br/>
        <label>country : </label><input type="text" name="country" ngModel required/><br/>
        <label>state : </label><input type="text" name="state" ngModel required/><br/>
        <label>city : </label><input type="text" name="city" ngModel required/><br/>
        <label>profession : </label><input type="text" name="profession" ngModel required/><br/>
        <label>institute : </label><input type="text" name="institute" ngModel required/><br/>

        <button >Signin</button>
    </form>
    <a routerLink="/auth/login">Login</a>
</div>