<!-- <p>navbar works!</p> -->
<mat-toolbar color="primary">

    <a routerLink="/">Saraswati Online Judge</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/ide">ide</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/problems">problems</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/set-problem">set problem</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/profile/{{username}}">{{username}}</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/auth/logout">logout</a>
</mat-toolbar>
<!-- <nav>
    
    <a routerLink="/">Saraswati Online Judge</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/ide">ide</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/problems">problems</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/set-problem">set problem</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/profile/{{username}}">{{username}}</a>
    &nbsp;&nbsp;&nbsp;
    <a routerLink="/auth/logout">logout</a>
</nav> -->