<app-navbar></app-navbar>
<ng-container *ngIf="isInValidProblemCode ; else loadingProblem">
    Please enter a valid problem code.
</ng-container>
<ng-template #loadingProblem>
    <ng-container *ngIf="isFetchingProblem ; else problemDetails">
        Fetching Problem ...
    </ng-container>
</ng-template>
<ng-template #problemDetails>
    <h3>
        {{problem.problemcode.toLocaleUpperCase().replace('_',' ')}} 
        | 
        (
            <a routerLink="/problems/difficulty/{{problem.difficulty}}">
                {{problem.difficulty}}
            </a>
        )
    </h3>
    <div>

        <p *ngFor="let cline of problemDisplay.description" [ngValue]="cline">
            {{cline}}
        </p>
    </div>
    <div>
        <h4>constraints : </h4>
        <p *ngFor="let c_constraint of problemDisplay.constraints" [ngValue]="c_constraint">
            {{c_constraint}}
        </p>
    </div>
    <div>
        <h4>sample input : </h4>
        <p *ngFor="let cinput of problemDisplay.sampleinput" [ngValue]="cinput">
            {{cinput}}
        </p>
    </div>
    <div #sampleOutput>
        <h4>sample output : </h4>
        <p *ngFor="let coutput of problemDisplay.sampleoutput" [ngValue]="coutput">
            {{coutput}}
        </p>
    </div>
    <app-editor 
        #editorComponent 
        [isProblem]="true" 
        [problemcode]="problem.problemcode"
        [sampleinput]="problem.sampleinput"
        [setProblem]="setProblem"
    >
    </app-editor>
    <div>
        <p>
            <td>
                <label>setter:</label>
            </td>
            <td>
                <a routerLink="/profile/{{problem.setter}}" target="_blank">{{problem.setter}}</a>
            </td>
        </p>
    </div>
    <div>
        <p>
            <td>
                <label>tester:</label>
            </td>
            <td>
                <a routerLink="/profile/{{problem.tester}}" target="_blank">{{problem.tester}}</a>
            </td>
        </p>
    </div>
    <div *ngIf="isSubmissionsUpdated">
        <p>
            <label>correctSubmissions:</label>
            <span #correctSubmissions >{{problem.correctSubmissions}}</span>
        </p>
    </div>
    <div *ngIf="isSubmissionsUpdated">
        <p>
            <label>totalSubmissions:</label>
            <span #totalSubmissions >{{problem.totalSubmissions}}</span>
        </p>
    </div>
    <div>
        <p>
            <label>tags : </label>
            <span *ngFor="let ctag of problem.tags" [ngValue]="ctag">
                <a routerLink="/problems/tags/{{ctag}}" target="_blank">{{ctag}}</a> 
                <span> , </span>
            </span>
        </p>
    </div>
</ng-template>