<!-- <p>login works!</p> -->

<div>
    <div *ngIf="isInvalidCred">
        <p>{{this.errorMessage}}</p>
        <p>Please enter valid credentials</p>
    </div>
    <form #f="ngForm" (ngSubmit)="onLogin(f)" novalidate>
        <label>username : </label><input type="text" name="username" ngModel required/><br/>
        <label>password : </label><input type="password" name="password" ngModel required/><br/>
        <button >login</button>
    </form>
    <a routerLink="/auth/signin">signin</a>
</div>