<!-- <p>problem-list works!</p> -->
<table>
    <tr>
        <th>problem</th>
        <th>solution</th>
        <th>difficulty</th>
        <th>success-ratio</th>
    </tr>
    <tr *ngFor="let cproblem of problemList" [ngValue]="cproblem">
        <a routerLink="/problem/{{cproblem.problemcode}}">{{cproblem.problemcode.split('_').join(' ')}}</a>
        <td>-</td>
        <td>{{cproblem.difficulty}}</td>
        <!-- {{cproblem.correctSubmissions}} {{cproblem.totalSubmissions}} -->
        <td>{{((cproblem.correctSubmissions*100.00)/(cproblem.totalSubmissions?cproblem.totalSubmissions:1.00)).toFixed(2)}} % </td>
    </tr>
</table>